@{
	ViewData["Title"] = "Home Page";
}
@model IEnumerable<string>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<h2>This page loaded at @ViewBag.time on @ViewBag.date.</h2>
</div>
