@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Future Crew - Second Reality.  Awarded first place at Assembly '93.</h1>
    <iframe width="560" height="315" title="YouTube video player" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/iw17c70uJes" class="video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
    </iframe>
</div>
